{%extends "base_new.html"%}
{% load static %}
{%block body_block%}

<!--  Hero Banner  Start====== -->
<div class="page-title-wrap pt-img-wrap" style="background:url(/static/img/ser-1.jpg) no-repeat;">
    <div class="container">
        <div class="col-lg-12 col-md-12">
            <div class="pt-caption text-center mt-5">
                <h1>About Us</h1>                
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!--  Hero Banner End -->

<!--  Who We Are Start -->
<section>
    <div class="container">

        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="about-content">
                    <p class="text-justify">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                        occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                        id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At
                        vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                        dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                    <p class="text-justify">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                        occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                        id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>

                </div>
            </div>

        </div>

    </div>
</section>
<div class="clearfix"></div>
<!--  Who We Are End -->

<!-- Mission Vission Start -->
<section class="pt-0">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="large-features-2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
                    <div class="large-features-2-item">
                        <div class="large-features-2-icon d-flex p-0"><img src="/static/img/market-analysiss.png"
                                alt="">
                            <h4 class="mt-3 ml-2">Mission</h4>
                        </div>
                        <div class="large-features-2-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate doloribus sed hic
                                quae, enim facilis esse quasi saepe. Laudantium cum ut consectetur provident recusandae
                                distinctio commodi adipisci suscipit possimus perspiciatis..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="large-features-2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
                    <div class="large-features-2-item">
                        <div class="large-features-2-icon d-flex p-0"><img src="/static/img/on-page.png" alt="">
                            <h4 class="mt-3 ml-2">Vision</h4>
                        </div>
                        <div class="large-features-2-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate doloribus sed hic
                                quae, enim facilis esse quasi saepe. Laudantium cum ut consectetur provident recusandae
                                distinctio commodi adipisci suscipit possimus perspiciatis..</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Mission Vision End -->

<!--  Award Start -->
<section class="gray award-sec">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="sec-heading mx-auto">
                    <h2>Our Success & Award</h2>
                </div>

            </div>
        </div>
        <div class="row mb-5">

            <div class="col-lg-3 col-xs-6 col-md-3 col-sm-6">
                <div class="count-box text-center">
                    <h2 class="count">30</h2>
                    <h5>Year Successfull</h5>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6 col-md-3 col-sm-6">
                <div class="count-box text-center">
                    <h2 class="count">320</h2>
                    <h5>Total Employee</h5>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6 col-md-3 col-sm-6">
                <div class="count-box text-center">
                    <h2 class="count">710</h2>
                    <h5>Winning Award</h5>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6 col-md-3 col-sm-6">
                <div class="count-box text-center">
                    <h2 class="count">167</h2>
                    <h5>Branches</h5>
                </div>
            </div>
        </div>

    </div>
    <div class="ht-80"></div>
</section>
<div class="clearfix"></div>

<!-- Overlay -->
<section class="overlay-top award-section pmb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="award-card">
                    <img src="/static/images/award/certificate-1.jpg" alt="award">
                </div>
            </div>
            <div class="col-md-4">
                <div class="award-card">
                    <img src="/static/images/award/certificate-1.jpg" alt="award">
                </div>
            </div>
            <div class="col-md-4">
                <div class="award-card">
                    <img src="/static/images/award/certificate-1.jpg" alt="award">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Award End -->

<!-- Our Team Start -->
<section class="all-services mt-4">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="sec-heading mx-auto">
                    <h2>Meet Our Team</h2>
                </div>
            </div>
            <div class="owl-carousel" id="all-services">
                <div class="item">
                    <div class="our-team">
                        <img src="/static/img/team-img-1.png" class="img-responsive mx-auto d-block" alt="">
                        <h4><a href="#">Adam Gillwarms</a></h4>
                        <span class="designation bg-primary">Web Designer</span>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                    </div>
                </div>
                <div class="item">
                    <div class="our-team">
                        <img src="/static/img/team-img-1.png" class="img-responsive mx-auto d-block" alt="">
                        <h4><a href="#">Adam Gillwarms</a></h4>
                        <span class="designation bg-pink">Web Designer</span>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                    </div>
                </div>
                <div class="item">
                    <div class="our-team">
                        <img src="/static/img/team-img-1.png" class="img-responsive mx-auto d-block" alt="">
                        <h4><a href="#">Adam Gillwarms</a></h4>
                        <span class="designation bg-primary">Web Designer</span>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                    </div>
                </div>
                <div class="item">
                    <div class="our-team">
                        <img src="/static/img/team-img-1.png" class="img-responsive mx-auto d-block" alt="">
                        <h4><a href="#">Adam Gillwarms</a></h4>
                        <span class="designation bg-pink">Web Designer</span>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- Our Team end -->


{% endblock %}