{% load tawkto_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="referrer" content="no-referrer-when-downgrade">


    <title>MK Brothers</title>

    <!-- All Css -->
    <link href="/static/css/plugins.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/images/favicon-new.png" />
    <!-- Custom CSS -->
    <link href="/static/css/styles.css" rel="stylesheet" />
    <link href="/static/css/custom.css" rel="stylesheet" />

    <link href="/static/css/index.css" rel="stylesheet" />
   
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/61ff52e89bd1f31184db2955/1fr6lno0s';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <link href="/static/css/responsive.css" rel="stylesheet" />
    
</head>

<body>
    <!-- Preloader -->
    <div class="preloader" style="display: none">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">MK Brothers</p>
        </div>
    </div>

    <!-- Main wrapper - style you can find in pages.scss -->
    <div id="main-wrapper">
        <!-- Modal -->
        <div class="top_bar ps-5 ">
            <div class="container">
                <div class="bar_inner">
                    <ul class="">
                        <li class="left-bar"><a href="tel:+917009261749"> +91 70092 61749
                            </a></li>
                        <li class="left-bar"><a class="border-left"
                                href="mailto:info@mk-brothers.com">info@mk-brothers.com</a></li>
                        <li class="left-bar">
                            <a href="#" data-toggle="modal" data-target="#Login" class="">Login</a>
                        </li>
                        <li class="">
                            <ul class="header-bottom-social px-4 mx-2">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="mr-0">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>

                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- Top header  -->
    <div class="header header-light">
        <div class="container pl-0">
            <nav id="navigation" class="navigation navigation-landscape">
                <div class="nav-header">
                    <a class="nav-brand" href="/">
                        <img src="/static/images/logo-dark.png" class="logo" alt="MK Brothers" />
                    </a>

                    <div class="nav-toggle hide-dekstop"></div>
                </div>
                <div class="nav-menus-wrapper m-0" style="transition-property: none;">
                    <ul class="nav-menu">
                        <li><a href="#" class="pl-0 hide-mobile toggle-menu"><i class="fa fa-bars" style="color:#eb303e;font-size: 21px;
                            margin-top: 1px;"></i> </a>
                            <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;  min-width: 20%;">
                                <div class="col-md-12 ">
                                    <ul class="nav-submenu d-block">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul class="pl-0">
                                                    <li><a href="/about">Products & Services</a>
                                                    </li>
                                                    <li><a href="/about">Success/Award/Certificate</a>
                                                    </li>
                                                    <li><a href="/service/Wiring-Harness">Sustainability</a>
                                                    </li>
                                                    <li><a href="/blogs">News & Events</a>
                                                    </li>
                                                    <li><a href="/Career">Career</a>
                                                    </li>
                                                    <li><a href="/service/Free-Training">Free Training</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </ul>
                                </div>
                            </ul>
                        </li>

                        <!-- What we do In Dekstop -->
                        <li class="hide-mobile"><a href="#">Products & Services<span class="submenu-indicator"></span></a>
                            <ul class="nav-dropdown nav-submenu" style="right: auto; ">
                                <div class="col-md-12 ">
                                    <ul class="nav-submenu d-block">
                                        <h2 class="menu-title">Products & Services</h2>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h6><a href="/service/solar-EPC">Solar EPC<span
                                                            class="submenu-indicator"></span></a></h6>
                                                <ul class="pl-0">
                                                    <li><a href="/service/solar-EPC">On Grid Industrial plants</a></li>
                                                    <li><a href="/service/solar-EPC">Captive Solar Plant</a></li>
                                                    <li><a href="/service/solar-EPC">On Grid Solar System</a></li>
                                                    <li><a href="/service/solar-EPC">Solar Water Pumps</a></li>
                                                    <li><a href="/service/solar-EPC">Off Grid Solar Plant</a></li>
                                                    <li><a href="/service/solar-EPC">Audit Design and Installation </a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h6><a href="/service/Wiring-Harness">Wiring Harness<span
                                                            class="submenu-indicator"></span></a></h6>
                                                <ul class="pl-0">
                                                    <li><a href="/service/Wiring-Harness">Designing</a></li>
                                                    <li><a href="/service/Wiring-Harness">Manufacturing</a></li>
                                                    <li><a href="/service/Wiring-Harness">Testing</a></li>
                                                    <li><a href="/service/Wiring-Harness">A.I. WH Machines</a></li>
                                                    <li><a href="/service/Wiring-Harness">Drawing Services</a></li>
                                                    <li><a href="/service/Wiring-Harness">PCB assembly</a></li>
                                                    <li><a href="/service/Wiring-Harness">Electrical Appliances</a></li>
                                                    <li><a href="/service/Wiring-Harness">Automobile Industry</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2">
                                                <h6><a href="/service/Network-Infra">Network Infra<span
                                                            class="submenu-indicator"></span></a></h6>
                                                <ul class="pl-0">
                                                    <li><a href="/service/Network-Infra">RTP & RTT</a></li>
                                                    <li><a href="/service/Network-Infra">GBP & GBT</a></li>
                                                    <li><a href="/service/Network-Infra">Electrical</a></li>
                                                    <li><a href="/service/Network-Infra">Hilti chemical anchoring</a></li>
                                                    <li><a href="/service/Network-Infra">Solar for tower sites</a></li>
                                                    <li><a href="/service/Network-Infra">TLVA</a></li>
                                                    <li><a href="/service/Network-Infra">Soil Testing</a></li>
                                                    <li><a href="/service/Network-Infra">Sites acquisition</a></li>
                                                    <li><a href="/service/Network-Infra">Chemical Earthing</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2">
                                                <h6><a href="/service/Electrical-Vehical">EV & BOV</a><span class="submenu-indicator"></span>
                                                </h6>
                                                <ul class="pl-0">
                                                    <li><a href="/service/Electrical-Vehical">Two Wheeler</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Three Wheeler</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Four Wheeler</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Conversion Kits</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Electronic Controller</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Electronic Charger</a></li>
                                                    <li><a href="/service/Electrical-Vehical">BMS for lithium Battery</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Wiring Harness for EV</a></li>
                                                    <li><a href="/service/Electrical-Vehical">AC / DC Charging station</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Consultancy</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Training Services</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2">
                                                <h6><a href="#">Automation<span
                                                            class="submenu-indicator"></span></a></h6>
                                                <ul class="pl-0">
                                                    <li><a href="/service/Automation">Access Control</a></li>
                                                    <li><a href="/service/Automation">Process Automation</a></li>
                                                    <li><a href="/service/Automation">Network Automation</a></li>
                                                    <li><a href="/service/Automation">Light Automation</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </ul>
                                </div>
                            </ul>
                        </li>

                        <!-- What We Do In Mobile /tablet -->
                        <li class="hide-dekstop"><a href="#">Products & Services<span class="submenu-indicator"></span></a>
                            <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                                <li><a href="#">Solar EPC<span class="submenu-indicator"></span></a>
                                    <ul class="nav-dropdown nav-submenu" style="display: none;">
                                        <li><a href="/service/solar-EPC">On Grid Industrial plants
On any surface Shed, GBT, Lentil</a></li>
                                                    <li><a href="/service/solar-EPC">Captive Solar Plant for industries :- Captive solar plant is solar power generation
plant</a></li>
                                                    <li><a href="/service/solar-EPC">On grid plant for commercial places and residential</a></li>
                                                    <li><a href="/service/solar-EPC">Solar power plant grid tied for on farming land</a></li>
                                                    <li><a href="/service/solar-EPC">Solar operated pump for irrigation or for drinking other utilities :- Grundfos Punjab
dealer</a></li>
                                                    <li><a href="/service/solar-EPC">Off grid solar power plant using batteries for residential commercial or SOS load of
industry</a></li>
<li><a href="/service/solar-EPC">Audit design and installation services</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Wiring Harness<span class="submenu-indicator"></span></a>
                                    <ul class="nav-dropdown nav-submenu" style="display: none;">
                                           <li><a href="/service/Wiring-Harness">Design services for wiring harness</a></li>
                                        <li><a href="/service/Wiring-Harness">Manufacturing of wiring harness</a></li>
                                        <li><a href="/service/Wiring-Harness">Testing of wiring harness</a></li>
                                        <li><a href="/service/Wiring-Harness">A.I. based pixel reading / camera based wiring harness automation</a></li>
                                        <li><a href="/service/Wiring-Harness">Wiring harness drawing services</a></li>
                                        <li><a href="/service/Wiring-Harness">PCB assembly</a></li>
                                        <li><a href="/service/Wiring-Harness">Wiring harness for electrical appliances</a></li>
                                        <li><a href="/service/Wiring-Harness">For automobile industry</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">EV & BOV<span class="submenu-indicator"></span></a>
                                    <ul class="nav-dropdown nav-submenu" style="display: none;">
                                        <li><a href="/service/Electrical-Vehical">Two wheeler like Scotty bike delivery bike handicap bike</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Three wheeler :- e-rickshaw e-loader garbage loader</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Four wheeler :- commercial only</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Conversion kits :- Two wheeler three and four
By mounting motor on the shaft or by putting hub motor in the wheels</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Electronic controller for the motor</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Electronic charger for the battery</a></li>
                                                    <li><a href="/service/Electrical-Vehical">BMS for lithium battery</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Wiring harness for ev</a></li>
                                                    <li><a href="/service/Electrical-Vehical">AC / DC Charging station</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Consultancy for manufacturing of Electric two wheeler</a></li>
                                                    <li><a href="/service/Electrical-Vehical">Training services for all above domains related to EV</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Automation<span class="submenu-indicator"></span></a>
                                    <ul class="nav-dropdown nav-submenu" style="display: none;">
                                        <li><a href="/service/Automation">Gate / Entrance automation <br>Swing gate , Sliding Gate , Boom barrier , rolling shutter , turn style </a></li>
                                        <li><a href="/service/Automation">Access Control</a></li>
                                        <li><a href="/service/Automation">Small process control automation like soya machine automation</a></li>
                                        <li><a href="/service/Automation">Network related data accusation automation</a></li>
                                        <li><a href="/service/Automation">Light Automation (LUX Related )</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="/about">Success/Award/Certificate</a>
                        </li>
                        <li><a href="/service/Wiring-Harness">Sustainability</a>
                        </li>
                        <li><a href="/blogs">News & Events</a>
                        </li>
                        <li><a href="/Career">Career</a>
                        </li>
                        <li><a href="/service/Free-Training">Free Training</a>
                        </li>

                        <!-- Login For Mobile -->
                        <li class="left-bar hide-dekstop">
                            <a href="#" data-toggle="modal" data-target="#Login" class="">Login</a>
                        </li>

                    </ul>

                </div>
            </nav>

        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Top header  -->


    {%block body_block%} {%endblock%}

    <!--  Footer Start  -->
    <footer class="bg-cover skin-dark-footer pt-4" style="background: #01284e url(/static/img/footer.png) no-repeat">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="footer-logo border-0">
                            <a class="" href="/"><img src="/static/images/footer-logo.png" alt="Mk Brothers" /></a>
                        </div>
                        <div class="footer-text pr-4">
                            <p class="f-15 text-justify">
                                MKB is a global leader in Manufacturing Pole/Towers Infra, Solar EPC, PCB Assembly, 
                                Electrical Installation & Wiring Harness for Telecom,EV & Electrical Appliances Industry providing
                                complete energy renewable solutions since 2008.
                            </p>
                            <ul class="footer-bottom-social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-xs-6">
                                <div class="footer-widget pl-5">
                                    <h4 class="widget-title">About</h4>
                                    <ul class="footer-menu">
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/awards">Awards</a></li>
                                        <li><a href="/faq">FAQs</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/blogs">Blogs</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-6">
                                <div class="footer-widget">
                                    <h4 class="widget-title">Our Services</h4>
                                    <ul class="footer-menu">
                                        {% for service in services %}
                                        <li><a href="/service/{{service.slug}}">{{service.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="footer-widget footer-address">
                                    <h4 class="widget-title">Get in Touch</h4>
                                    <p><i class="fa fa-map-marker"></i>Kamaspur Rd., Samana Distt. Patiala 147101
                                    </p>
                                    <a href="mailto:info@mk-brothers.com">
                                        <p><i class="fa fa-envelope"></i>info@mk-brothers.com</p>
                                    </a>
                                    <a href="tel:+917009261749">
                                        <p><i class="fa fa-phone"></i>+91 70092 61749</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 text-left">
                        <p class="mb-0">
                            © 2022<span><a href="#" class="text-pink"> MK Brothers Pvt. Ltd.</a></span>
                            All Rights Reserved
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12 text-right">
                        <ul class="d-flex">
                            <li class="mr-2">
                                <a href="privacy" class="f-15">Privacy Policy</a>
                            </li>
                            |
                            <li class="ml-2">
                                <a href="terms-condition" class="f-15">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Fixed footer -->
        <div class="fixed-footer hide-dekstop" style="user-select: auto;">
            <div class="container" style="user-select: auto;">
                <div class="d-flex" style="user-select: auto;">
                    <a href="https://api.whatsapp.com/send/?phone=tel:+917009261749"
                        class="text-white border-right text-center w-50" style="user-select: auto;">
                        <img src="/static/images/whatsapp.png"
                            style="width: 15%; padding-right: 7px; padding-bottom: 0.25rem; user-select: auto;">Whatsapp

                    </a>
                    <a href="tel:+917009261749" class="text-white text-center w-50" style="user-select: auto;">
                        <img src="/static/images/telephone.svg"
                            style="width: 13.5%; padding-right: 7px; padding-bottom: 0.25rem; user-select: auto;">Call
                        Us </a>
                </div>
            </div>
        </div>
    </footer>
    <!--  Footer End  -->


    <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 25%;" role="document">
            <div class="modal-content" id="registermodal">
                <div class="modal-header theme-header" style="background: url(/static/img/modal-bg.png)">
                    <h5 class="modal-title text-white" id="exampleModalLongTitle">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/login">
                        {% csrf_token %}
                        <div class="row">

                            <div class="form-group col-md-12 col-sm-6">
                                <input type="email" class="form-control" name="email" placeholder="Email" />
                            </div>

                            <div class="form-group col-md-12 col-sm-6">
                                <input type="password" class="form-control" name="password"
                                    placeholder="Enter Password" />
                            </div>

                            <div class="col-md-12 col-sm-12 text-center">
                                <button type="submit" class="btn btn-md btn-primary w-100 p-2 f-15">
                                    Login
                                </button>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <p class="account"><a href="{% url 'reset_password' %}" class="float-right">Forgot
                                        Password</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <!-- Video Modal -->
    <div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popup-video"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <iframe
            class="embed-responsive-item"
            width="100%"
            height="480"
            src="https://www.youtube.com/embed/_P_0tDaXPZI?autoplay=1"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
    </div>
    <div class="modal fade" id="popup-video2" tabindex="-1" role="dialog" aria-labelledby="popup-video"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <iframe
            class="embed-responsive-item"
            width="100%"
            height="480"
            src="https://www.youtube.com/embed/XY1P1X2OlMQ?autoplay=1"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
    </div>
    <!-- End Video Modal -->
    </div>
    <!-- End Wrapper -->


    <!-- All script start -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery-rating.js"></script>
    <script src="/static/js/slick.js"></script>
    <script src="/static/js/slider-bg.js"></script>
    <script src="/static/js/lightbox.js"></script>
    <script src="/static/js/imagesloaded.js"></script>
    <script src="/static/js/isotope.min.js"></script>
    <script src="/static/js/custom.js"></script>


    <script>
        $(document).on('click', '.delete_bill', function () {
            var id = $(this).data("id");
            if (confirm("Are you sure to delete?")) {
                window.location.href = "/delete-bill?id=" + id;
            }
        });
    </script>

    <script>
        $(document).ready(function (e) {
            $("#profile_pic_input").on('change', (function (e) {
                $('#profile_pic_form').submit();
            }));
        });
    </script>


</body>

</html>