{%extends "base_new.html"%}
{% load static %}
{%block body_block%}

<!--  Hero Banner  Start====== -->
<div class="page-title-wrap pt-img-wrap" style="background:url(/static/images/banner/faq3.jpg) no-repeat;background-position: center;background-size:cover;">
    <div class="container">
        <div class="col-lg-12 col-md-12">
            <div class="pt-caption text-center mt-5">
                <h1>FAQs</h1>                
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!--  Hero Banner End -->

<!-- Who We Are Start -->
<section class="faq-sec">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="accordion md-accordion" id="accordion" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    {% for faq in faqs %}
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                                aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class="">
                                    {{faq.question}}<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse1" class="collapse" role="tabpanel"
                            data-parent="#accordion">
                            <div class="card-body">
                                {{faq.answer}}
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                    <!-- Accordion card -->
                </div>
                <!-- Accordion wrapper -->
            </div>
        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- Who We Are End -->

{% endblock %}