{%extends "base_new.html"%}
{% load static %}
{%block body_block%}


<!--  Hero Banner  Start -->
<div class="container-fluid breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<a href="index.html">
					Home
				</a>
				<a href="javascript:void(0)">
					<span>
						<i class="ti-arrow-right"></i>
					</span>
					Thank You
				</a>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<!--  Hero Banner End  -->

<!--  Typography Element  -->
<section class="thankyou-page error-page text-center my-5">
	<div class="container">
		<div class="row">

			<div class="col-lg-12 col-md-12">

				<h2>Thank<span class="text-pink">You!</span></h2>
				<p class="lead-i mt-4"><span class="text-danger mt-5">Yay!</span> You have successfully registered</p>

			</div>
		</div>
	</div>
</section>
<!--  Typography Element End  -->


{% endblock %}